body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #ececec;
}


/*Header styles*/
#header {
    background-color: #56c58d;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 1;
}

#header-contents {
    color: #ffffa3;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#header-contents h1 {
    
    color: #ffffa3;
    font-size: 4vw;
}

#header-contents > div {
    margin: 0 5px;
}

div#team-name {
    margin: auto 5px;
}

.stand-in-svg {
    display: inline-block;
}

#header-nav {
    
    color: black;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 17px;
}
#header-nav > div{
    margin: 0 8px;
}

.nav-item {
    padding: 8px 16px;
    transition: all .2s ease;
    font-size: 17px;
    color:#ececec;
    border-radius: 100px;

}
/* 
.nav-item:hover {
    background-color: hsl(51, 94%, 48%);
} */

#header-nav .nav-item:last-child {
    border-right: 0;
}


/*Nav bar at top*/

.dropdown-wrapper {
	position: relative;
	display: inline-block;
	cursor: default;
	white-space: nowrap;
}

.dropdown-wrapper:hover .dropdown-button, .nav-item:hover {
    background-color: rgba(255,255,255,.10);
}

.dropdown-button {
	display: flex;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    /* min-width: 105px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    
    /* padding: 2px 12px; */
}

.dropdown-content a {
    
    padding: 9px 11px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: #434343 !important;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-wrapper:hover .dropdown-content {
    display: block;
}


/*Content styles listed below -----------------------------------------*/

#content-wrapper {
    background-color: hsl(195, 100%, 94%);
    position: relative;
    padding: 15px 0;
    flex-grow: 1;
    margin-top: 80px;
}

#page-title {
    text-align: center;
}

#card-container {
    width: 70%;
    max-width: 1500px;
    margin: auto;
    position:  relative;
}

.paragraph-block {
    background-color: white;
    box-shadow: 0.5px 0.5px 6px 0px #767676;
    border-radius: 3px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    min-height: 100px;
    flex-direction: column;
    overflow: hidden;
    border-bottom-right-radius: 9px;
}

.inner-paragraph {
    padding: 5px;
}

.explore-button {
    outline: 2px solid white;
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-top: auto;
    background-color: hsla(120, 100%, 24%, 1);
    border-bottom-right-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    font-size: 16px;
    padding: 7px;
}

.explore-button:hover {
    background-color: hsl(120, 40%, 74%);
    color: black;
    outline: 3px solid hsla(120, 100%, 24%, 1);
}



/*Footer ------------------------------------*/

#footer {
    width: 100%;
    background-color: grey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#footer div {
    margin: 2px 0;
}

#footer div a {
    color: lightblue;
    text-decoration: underline;
}

/*Media queries -------------------------------*/

@media screen and (max-width: 500px) {
    #card-container{
        width: 86%;
    }
    #header-contents {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
    }    
}

@media screen and (min-width: 700px) {
    div#header-contents h1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 600px) {
    #header-contents > div {
        margin: 0 3%;
    }
}

/*Folding card system*/
@media screen and (min-width: 1250px) {
    .paragraph-block {
        width: calc(50% - 40px);
        margin: 6px;
    }
    #card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


/*Slideshow effects*/

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Hides dots changing*/
.text, .numbertext, .dot-container {
    display: none;
}